<app-encabezado titulo="Repaso"></app-encabezado>

<ion-content>
  <ion-text color="primary" class="ion-padding" class="ion-text-center">
    <h1>Repaso</h1>
  </ion-text>
  <ion-list>
    <form #formulario="ngForm" (ngSubmit)="enviar()">
      <ion-input type="text" placeholder="pon tu dato" label="Ingresa algo" name="datitos" [(ngModel)]="datos" ></ion-input>

      <ion-button type="submit" expand="block" fill="solid" >
        Click me
      </ion-button>
    </form>
  </ion-list>
  <ion-text color="primary">
    <h1>{{datos_submit}}</h1>
  </ion-text>
</ion-content>