
<app-encabezado titulo="botones"></app-encabezado>

<ion-content class="ion-padding">
 <ion-text color="primary" class="ion-text-center">
  <h1>Página de Botones</h1>
 </ion-text>

 <ion-button expand="block" fill="solid" (click)="onClick()">
    Click me
 </ion-button>

<ion-text color="tertiary" class="ion-text-center">
    <h1>{{mensaje}}</h1>
</ion-text>

<ion-button (click)="navegar()" expand="full" fill="outline">
    <ion-icon slot="start" name="home-outline"></ion-icon>
    Ir al home
</ion-button>

</ion-content>
